@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@1,200..800&display=swap');

:root {
  --textColor: #262626;
  --bkg: #f8f2e3;
  --highlight: rgb(186, 21, 40);
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Newsreader', serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  line-height: 1.75;
  font-size: 112.5%; /*18px*/
  background: var(--bkg);
  color: var(--textColor);
}

a {
  color: var(--textColor);
  transition: color 0.1s ease-out;
  text-decoration: underline var(--highlight) 2px;

  &:hover {
    color: var(--highlight);
    text-decoration: none;
  }
}

ul {
  margin: 0;
}

.separator {
  font-size: 2rem;
  text-align: center;
  margin: 3rem 0;
}

p {
  margin-bottom: 1rem;
}

p:has(+ ul) {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
