@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@200..700&display=swap');

body {
  font-family: 'Newsreader', serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p {
  font-weight: 300;
}
